@using RokuDotNet.Client.Input
@model Roku.IDevice

@{
    SpecialKeys[][] keys = [
        [SpecialKeys.Back, 0, SpecialKeys.Home],
        [0, SpecialKeys.Up, 0],
        [SpecialKeys.Left, SpecialKeys.Select, SpecialKeys.Right],
        [0, SpecialKeys.Down, 0],
        [SpecialKeys.InstantReplay, 0, SpecialKeys.Info],
        [SpecialKeys.Reverse, SpecialKeys.Play, SpecialKeys.Forward]
    ];

    char[][] keyboard = [
        "qwertyuiop".ToArray(),
        "asdfghjkl".ToArray(),
        "zxcvbnm".ToArray()
    ];
}

<!DOCTYPE html>
<html>
<head>
    <title>Radio Home Engine - @Model.Name</title>
    @await Html.PartialAsync("_Styles")
    <style type="text/css">
        button {
            font-size: 16pt !important;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
    <h1>
        @Model.Name
    </h1>
    <section id="entryStage">
        <table id="numpad">
            @foreach (var row in keys)
            {
                <tr>
                    @foreach (var key in row)
                    {
                        <td>
                            @if (key != 0)
                            {
                                <form asp-action="Press" asp-route-macAddress="@Model.MacAddress" asp-route-key="@key" data-roku-key="@key">
                                    <button>
                                        @key
                                    </button>
                                </form>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </section>

    <table>
        @foreach (var row in keyboard)
        {
            <tr>
                @foreach (char key in row)
                {
                    <td>
                        @if (key != 0)
                        {
                            <form asp-action="PressLiteral" asp-route-macAddress="@Model.MacAddress" asp-route-key="@key">
                                <button>
                                    @key
                                </button>
                            </form>
                        }
                    </td>
                }
            </tr>
        }
        <tr>
            <td colspan="10">
                <form asp-action="PressLiteral" asp-route-macAddress="@Model.MacAddress" asp-route-key=" ">
                    <button>
                        space
                    </button>
                </form>
            </td>
        </tr>
    </table>

    <div id="gamepads">

    </div>

    <script type="text/javascript">
        function getKey(i) {
            switch (i) {
                case 0:
                    return "Back";
                case 1:
                    return "Select";
                case 2:
                    return "InstantReplay";
                case 3:
                    return "Info";
                case 4:
                    return "Reverse";
                case 5:
                    return "Forward";
                case 8:
                    return "Home";
                case 9:
                    return "Play";
                case 12:
                    return "Up";
                case 13:
                    return "Down";
                case 14:
                    return "Left";
                case 15:
                    return "Right";
            }
        }

        function pressAsync(key) {
            return fetch(
                `/Roku/KeyDown?macAddress=@(Model.MacAddress)&key=${key}`,
                {
                    method: "post"
                });
        }

        function releaseAsync(key) {
            return fetch(
                `/Roku/KeyUp?macAddress=@(Model.MacAddress)&key=${key}`,
                {
                    method: "post"
                });
        }

        window.addEventListener("gamepadconnected", async (e) => {
            try {
                const gamepad = navigator.getGamepads()[e.gamepad.index];

                console.log({ gamepad });

                const gamepadDiv = document.createElement("div");
                gamepadDiv.innerText = gamepad.id;
                document.getElementById("gamepads").appendChild(gamepadDiv);

                const buttonStates = [];

                // let lastUsed = 0;
                // let lastTimestamp = 0;

                // const second = 1000;
                // const frame = second / 30;
                // const minute = 1000 * 60;

                while (true) {
                    // const timeSince = Date.now() - lastUsed;
                    // const interval = timeSince < minute || lastTimestamp != gamepad.timestamp
                    //     ? frame
                    //     : second;

                    const interval = 1000 / 60;

                    //gamepadDiv.innerText = `${gamepad.id} (${interval})`;

                    await new Promise(r => setTimeout(r, interval));

                    if (!gamepad.connected) {
                        return;
                    }

                    while (buttonStates.length < gamepad.buttons.length) {
                        buttonStates.push(false);
                    }

                    for (const [i, button] of gamepad.buttons.entries()) {
                        if (buttonStates[i] !== button.pressed) {
                            buttonStates[i] = button.pressed;

                            lastUsed = Date.now();
                            lastTimestamp = gamepad.timestamp;

                            const key = getKey(i);

                            if (key != null) {
                                if (button.pressed) await pressAsync(key);
                                else await releaseAsync(key);
                            }
                        }
                    }
                }

                for (const [i, state] of buttonStates.entries()) {
                    if (state) {
                        await releaseAsync(i);
                    }
                }

                document.getElementById("gamepads").removeChild(gamepadDiv);
            } catch (e) {
                console.warn(e);
            }
        });
    </script>
</body>
</html>
