@model LyrionCLI.Player
@{
    Layout = null;

    var name = LyrionKnownPlayers.known.Contains(Model)
        ? await LyrionCLI.Players.getNameAsync(Model)
        : Model.Item;

    var siriusXMChannels = await SiriusXMClient.getChannelsAsync(CancellationToken.None);
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>@name</title>
    @await Html.PartialAsync("_Styles")
</head>
<body>
    <h1>@name</h1>

    <iframe name="myframe" width="300" height="50" src="Display?id=@Uri.EscapeDataString(Model.Item)"></iframe>

    <hr />

    <h2>SiriusXM</h2>

    <form method="post" asp-controller="Player" asp-action="PlaySiriusXMChannel" asp-route-id="@Model.Item" target="myframe">
        <input type="number"
               name="number"
               min="@siriusXMChannels.Select(c => int.Parse(c.channelNumber)).Min()"
               max="@siriusXMChannels.Select(c => int.Parse(c.channelNumber)).Max()" />
        <button type="submit">Play</button>
    </form>

    <br />

    <form method="post" asp-controller="Player" asp-action="StreamInfo" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Display currently playing track title</button>
    </form>

    <hr />

    <h2>Audio CD</h2>

    <form method="post" asp-controller="Player" asp-action="PlayTrack" asp-route-id="@Model.Item" target="myframe">
        <input type="number"
               name="number"
               min="1"
               max="99" />
        <button type="submit">Play track</button>
    </form>

    <br />

    <form method="post" asp-controller="Player" asp-action="PlayTrack" asp-route-id="@Model.Item" target="myframe">
        <input type="hidden"
               name="number"
               value="1" />
        <button type="submit">Play entire disc</button>
    </form>

    <form method="post" asp-controller="Player" asp-action="Eject" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Eject</button>
    </form>

    <hr />

    <h2>Miscellaneous</h2>

    <form method="post" asp-controller="Player" asp-action="Forecast" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Play weather forecast</button>
    </form>

    <form method="post" asp-controller="Player" asp-action="PlayBrownNoise" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Play brown noise</button>
    </form>
</body>
</html>
