@model LyrionCLI.Player
@{
    Layout = null;

    var name = await LyrionKnownPlayers.Names.getNameAsync(Model);

    var siriusXMChannels = await SiriusXMClient.getChannelsAsync(CancellationToken.None);
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>@name</title>
    @await Html.PartialAsync("_Styles")
</head>
<body>
    <h1>@name</h1>

    <iframe name="myframe" width="300" height="50" src="/Player/Display?id=@Uri.EscapeDataString(Model.Item)"></iframe>

    <hr />

    <form method="post" asp-controller="Player" asp-action="StreamInfo" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Display currently playing track title</button>
    </form>

    <hr />

    <h2>Audio CD</h2>

    <form method="post" asp-controller="Player" asp-action="PlayTrack" asp-route-id="@Model.Item" target="myframe">
        <input type="number"
               name="number"
               min="1"
               max="99"
               value="1" />
        <button type="submit">Play track</button>
    </form>

    <br />

    <form method="post" asp-controller="Player" asp-action="PlayTrack" asp-route-id="@Model.Item" target="myframe">
        <input type="hidden"
               name="number"
               value="1" />
        <button type="submit">Play entire disc</button>
    </form>

    <form method="post" asp-controller="Player" asp-action="Eject" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Eject</button>
    </form>

    <hr />

    <h2>Numpad</h2>

    <table id="numpad">
        @for (int j = 0; j < 3; j++) {
            <tr>
                @for (int i = 0; i < 3; i++) {
                    int num = i + 3 * j + 1;
                    <td>
                        <form method="post" asp-controller="Player" asp-action="Number" asp-route-id="@Model.Item" target="myframe">
                            <input type="hidden" name="num" value="@num" />
                            <button>
                                @num
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
        <tr>
            <td colspan="3">
                <form method="post" asp-controller="Player" asp-action="Button" asp-route-id="@Model.Item" target="myframe">
                    <input type="hidden" name="button" value="knob_push" />
                    <button>
                        OK
                    </button>
                </form>
            </td>
        </tr>
    </table>

    <hr />

    <h2>Miscellaneous</h2>

    <form method="post" asp-controller="Player" asp-action="Button" asp-route-id="@Model.Item" target="myframe">
        <input type="hidden" name="button" value="power" />
        <button type="submit">Power</button>
    </form>

    <br />

    <form method="post" asp-controller="Player" asp-action="Button" asp-route-id="@Model.Item" target="myframe" style="display: inline">
        <input type="hidden" name="button" value="play" />
        <button type="submit">Play</button>
    </form>

    <form method="post" asp-controller="Player" asp-action="Button" asp-route-id="@Model.Item" target="myframe" style="display: inline">
        <input type="hidden" name="button" value="pause" />
        <button type="submit">Pause</button>
    </form>

    <form method="post" asp-controller="Player" asp-action="Button" asp-route-id="@Model.Item" target="myframe" style="display: inline">
        <input type="hidden" name="button" value="stop" />
        <button type="submit">Stop</button>
    </form>

    <br />
    <br />

    <form method="post" asp-controller="Player" asp-action="Forecast" asp-route-id="@Model.Item" target="myframe">
        <button type="submit">Play weather forecast</button>
    </form>

    <div id="gamepads"></div>

    <script type="text/javascript">
        function getButtonPath(i) {
            switch (i) {
                case 0:
                    return "/Player/Button?button=arrow_left";
                case 1:
                    return "/Player/Button?button=knob_push";
                case 2:
                    return "/Player/Forecast?";
                case 3:
                    return "/Player/Button?button=power";
                case 4:
                    return "/Player/Button?button=voldown";
                case 5:
                    return "/Player/Button?button=volup";
                case 8:
                    return "/Player/Button?button=muting";
                case 9:
                    return "/Player/Button?button=play_0";
                case 12:
                    return "/Player/Button?button=up";
                case 13:
                    return "/Player/Button?button=down";
                case 14:
                    return "/Player/Button?button=left";
                case 15:
                    return "/Player/Button?button=right";
            }
        }

        let pressPromise = new Promise(r => r());

        function pressAsync(path) {
            const previousPromise = pressPromise;

            pressPromise = (async () => {
                try {
                    await previousPromise;
                    await fetch(
                        `${path}&id=@(Model.Item)`,
                        { method: "post" });
                } catch (e) {
                    console.error(e);
                }
            })();
        }

        window.addEventListener("gamepadconnected", async (e) => {
            try {
                const gamepad = navigator.getGamepads()[e.gamepad.index];

                console.log({ gamepad });

                const gamepadDiv = document.createElement("p");
                gamepadDiv.innerText = gamepad.id;
                document.getElementById("gamepads").appendChild(gamepadDiv);

                const buttonStates = [];

                while (true) {
                    const interval = 1000 / 60;

                    await new Promise(r => setTimeout(r, interval));

                    if (!gamepad.connected) {
                        return;
                    }

                    while (buttonStates.length < gamepad.buttons.length) {
                        buttonStates.push(false);
                    }

                    for (const [i, button] of gamepad.buttons.entries()) {
                        if (buttonStates[i] !== button.pressed) {
                            buttonStates[i] = button.pressed;

                            lastUsed = Date.now();
                            lastTimestamp = gamepad.timestamp;

                            const path = getButtonPath(i);

                            if (path != null) {
                                if (button.pressed) await pressAsync(path);
                            }
                        }
                    }
                }

                for (const [i, state] of buttonStates.entries()) {
                    if (state) {
                        await releaseAsync(i);
                    }
                }

                document.getElementById("gamepads").removeChild(gamepadDiv);
            } catch (e) {
                console.warn(e);
            }
        });
    </script>
</body>
</html>
