@model ChannelsModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>Channel List</title>
    @await Html.PartialAsync("_Styles")
    <style type="text/css">
        fieldset {
            margin: 16px auto;
            max-width: 280px;
        }

        .box {
            border: 1px solid currentColor;
            display: inline-block;
            margin: 0.5em;
            overflow-y: scroll;
            vertical-align: top;
            width: 280px;
        }

        iframe[name=myframe] {
            border: 0;
            margin: 0.5em;
        }

        summary {
            background-color: steelblue;
            color: white;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 0;
            user-select: none;
        }
    </style>
</head>
<body>
    <p>
        <a href="http://@this.Context.Request.Host.Host:9000">Go to Lyrion Music Server</a>
    </p>

    <hr />

    @if (!Model.Channels.IsEmpty)
    {
        <h1>SiriusXM</h1>
    }

    @foreach (var channel in Model.Channels)
    {
        <div class="box">
            <details>
                <summary>
                    <strong>@channel.ChannelNumber</strong>
                    @channel.Name
                </summary>

                @if (channel.ChannelNumber > 0)
                {
                    <p>
                        <a asp-controller="SXM" asp-action="ViewChannel" asp-route-num="@channel.ChannelNumber">
                            Go to channel
                        </a>
                    </p>
                }

                @foreach (var player in Model.Players)
                {
                    <p>
                        <form asp-action="Play" target="myframe">
                            <input type="hidden" name="mac" value="@player.MacAddress" />
                            <input type="hidden" name="num" value="@channel.ChannelNumber" />
                            <button type="submit">
                                Play on @player.Name
                            </button>
                        </form>
                    </p>
                }
            </details>
        </div>
    }

    <hr />

    @if (Model.Players.Length > 0)
    {
        <fieldset>
            <legend>Clear playlist on</legend>

            @foreach (var player in Model.Players)
            {
                <p>
                    <form asp-action="Clear" target="myframe">
                        <input type="hidden" name="mac" value="@player.MacAddress" />
                        <button type="submit">
                            @player.Name
                        </button>
                    </form>
                </p>
            }
        </fieldset>
    }

    <iframe name="myframe" width="300" height="50" src="about:blank"></iframe>
</body>
</html>
