@model ChannelsModel
@{
    Layout = null;

    var playerNames = new Dictionary<LyrionCLI.Player, string>();
    foreach (var player in LyrionKnownPlayers.known)
    {
        playerNames.Add(player, await LyrionCLI.Players.getNameAsync(player));
    }
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>Channel List</title>
    @await Html.PartialAsync("_Styles")
    <style type="text/css">
        .box {
            border: 1px solid currentColor;
            display: inline-block;
            margin: 0.5em;
            overflow-y: scroll;
            vertical-align: top;
            width: 280px;
        }

        iframe[name=myframe] {
            border: 0;
            margin: 0.5em;
        }

        summary {
            background-color: steelblue;
            color: white;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 0;
            user-select: none;
        }
    </style>
</head>
<body>
    @foreach (var group in Model.Channels.GroupBy(c => c.Category))
    {
        <details>
            <summary>@group.Key</summary>
            @foreach (var channel in group)
            {
                <div class="box">
                    <details>
                        <summary>@channel.Name</summary>

                        <p>
                            <img src="@channel.ImageSrc" style="max-width: 100%" loading="lazy" />
                            <br />
                            <a href="@channel.Url">
                                Play on this device
                            </a>
                            <br>
                            <small>Some devices may not be able to play HLS streams directly.</small>
                        </p>

                        @foreach (var player in Model.Players)
                        {
                            <p>
                                <form asp-action="Play" target="myframe">
                                    <input type="hidden" name="mac" value="@player.MacAddress" />
                                    <input type="hidden" name="url" value="@channel.Url" />
                                    <input type="hidden" name="name" value="@channel.Name" />
                                    <button type="submit">
                                        Play on @player.Name
                                    </button>
                                </form>
                            </p>
                        }
                    </details>
                </div>
            }
        </details>
    }

    <iframe name="myframe" width="300" height="50" src="about:blank"></iframe>
</body>
</html>
