@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <title>Radio Home Engine</title>
    @await Html.PartialAsync("_Styles")
</head>
<body>
    <h1>Radio Home Engine</h1>

    <p>
        <a href="/Channels">
            List all available channels
        </a>
    </p>

    <h2>This device</h2>

    <p>
        <a href="/Radio/SiriusXM">
            SiriusXM
        </a>
    </p>

    <p>
        <a href="/Noise">
            Brown noise
        </a>
    </p>

    <h2>Squeezebox devices</h2>

    @foreach (var k in await LyrionKnownPlayers.Names.getPlayersWithNamesAsync())
    {
        <p>
            <a asp-controller="Player" asp-action="Index" asp-route-id="@k.player.Item">
                @k.name (@k.player.Item)
            </a>
        </p>
    }

    <p>
        <a href="http://@(Context.Request.Host.Host):9000">
            Lyrion Music Server
        </a>
    </p>

    <h2>Roku devices</h2>

    @foreach (var p in Roku.GetDevices())
    {
        <p>
            <a asp-controller="Roku" asp-action="Index" asp-route-macAddress="@p.MacAddress">
                @p.Name (@p.Location.Host)
            </a>
        </p>
    }

    <hr />

    <p>
        <small>
            Radio Home Engine
            <br />
            Copyright (c) 2025 Isaac Schemm
        </small>
    </p>
</body>
</html>
